<IfModule mod_rewrite.c>
    RewriteEngine on
    #	Uncomment if you'll use Https
    #RewriteCond %{HTTPS} off
    #RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
    #	Uncomment on production
    #RewriteBase /
    RewriteBase /inmobi-houston/

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
</IfModule>
#---------------------------------------------------------------------------------
#   CUSTOM REDIRECTS
#---------------------------------------------------------------------------------
#	INMUEBLE
RewriteRule ^property-type$ controllerPropertyType.php [NC,L]
RewriteRule ^property-type/id/([0-9]+)$ controllerPropertyType.php?id=$1 [NC,L]
#	PLAN
RewriteRule ^plan$ controllerPlan.php [NC,L]
RewriteRule ^plan/id/([0-9]+)$ controllerPlan.php?id=$1 [NC,L]
#	AGENCIES
RewriteRule ^agency$ controllerAgencies.php [NC,L]
RewriteRule ^agency/([0-9]+)$ controllerAgencies.php?id=$1 [NC,L]
RewriteRule ^agency/seats/([0-9]+)$ controllerAgencies.php?seats=true&id=$1 [NC,L]
#	EXTRA
RewriteRule ^extra$ controllerExtra.php [NC,L]
RewriteRule ^extra/id/([0-9]+)$ controllerExtra.php?id=$1 [NC,L]
#	SEAT
RewriteRule ^seat$ controllerSeat.php [NC,L]
RewriteRule ^seat/([0-9]+)$ controllerSeat.php?id=$1 [NC,L]
#---------------------------------------------------------------------------------
#   END CUSTOM REDIRECTS
#---------------------------------------------------------------------------------
<Files .htaccess>
    order allow,deny
    deny from all
</Files>
<Files systemLog.log>
    order allow,deny
    deny from all
</Files>
